.navbar {
    padding-left: 60px;
    padding-right: 60px;
    background: linear-gradient(to right, yellow, rgb(251, 151, 29));
    border: 2px solid black;
    border-radius: 0;
    margin-left: -2px;
    margin-right: -2px;
  }

  .navbar .form-inline {
    border-top: none;
  }

  .navbar-brand img {
    height: 58px; /* Adjust the height as desired */
    width: 58px; /* Adjust the width as desired */
  }

  body {
    background-color: white;
  }

  .btn-outline-success {
    transition: background-color 0.3s ease-in-out;
    border-color: white; /* Set the border color to white */
    color: black;
  }

    .navbar-nav .nav-link {
color: rgb(132, 132, 229) !important;
}
.navbar-nav .nav-item.active > .nav-link,
.navbar-nav .nav-item:hover > .nav-link {
color: black;
}
  .btn-outline-success:hover {
    background-image: linear-gradient(to right, #ff00c8, #0000ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    color: white;
    background-color: transparent;
}


