{% extends 'demons/basic.html' %}
{% block title %} 🤺Demons {% endblock %}

{% block body %} 
<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Lower Moon</h1>

		<article class="postcard dark blue">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Enmu.jpg"  alt="Enmu" /></tb>
				<img src="/static/lower_img/Enmu.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Enmu</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark red">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Rokuro.jpg"  alt="Rokuro" /></tb>
				<img src="/static/lower_img/Rokuro.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Rokuro</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Wakuraba.webp"  alt="Wakuraba" /></tb>
				<img src="/static/lower_img/Wakuraba.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Wakuraba</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Mukago.jpg"  alt="Mukago" /></tb>
				<img src="/static/lower_img/Mukago.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Mukago</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container1">
				<tb><img class="image" src="/static/lower_img/Rui.jpg"  alt="Rui" /></tb>
				<img src="/static/lower_img/Rui.gif" alt="WEBP" class="webp" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Rui</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Kyogai.jpg"  alt="Kyogai" /></tb>
				<img src="/static/lower_img/Kyogai.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Kyogai</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>
{% endblock %}