{% extends 'demons/basic.html' %}
{% block title %} 🤺Demons {% endblock %}

{% block body %} 
<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Lower Moon</h1>

		<article class="postcard dark blue">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Lower Rank 1.jpg"  alt="Lower Rank 1" /></tb>
				<img src="/static/lower_img/Lower Rank 1.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Giyu</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark red">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Lower Rank 2.jpg"  alt="Gyomei" /></tb>
				<img src="/static/lower_img/Lower Rank 2.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Gyomei</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark green">
			<div class="image-container1">
				<tb><img class="image" src="/static/lower_img/Lower Rank 3.webp"  alt="Lower Rank 3" /></tb>
				<img src="static/lower_img/Lower Rank 3.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Mitsuri</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>sunday, May 26th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<div class="image-container">
				<tb><img class="image" src="/static/lower_img/Lower Rank 4.jpg"  alt="Lower Rank 4" /></tb>
				<img src="/static/lower_img/Lower Rank 4.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Muichiro</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container1">
				<tb><img class="image" src="/static/lower_img/Lower Rank 5.jpg"  alt="Lower Rank 5" /></tb>
				<img src="/static/lower_img/Lower Rank 5.webp" alt="WEBP" class="webp" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Obanai</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container">
				<tb><img class="image" src="/static/images/Rengokupic.jpg"  alt="Rengoku" /></tb>
				<img src="/static/images/Rengoku.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Rengoku</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container1">
				<tb><img class="image" src="/static/images/Sanemipic.jpg"  alt="Sanemi" /></tb>
				<img src="/static/images/Sanemi.webp" alt="WEBP" class="webp" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Sanemi</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container">
				<tb><img class="image" src="/static/images/shinobupic.jpg"  alt="Shinobu" /></tb>
				<img src="/static/images/Shinobu.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Shinobu</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark blue">
			<div class="image-container">
				<tb><img class="image" src="/static/images/tengenpic.jpg"  alt="Tengen" /></tb>
				<img src="/static/images/Tengen.gif" alt="GIF" class="gif" />
			</div>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Tengen</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">body</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>
{% endblock %}