{% extends 'basic.html' %}
{% block title %} 😈⚔️ Demon Slayer {% endblock %}

{% block body %}
<section>
    <section class="parallax-1">
        <div class="parallax-inner">
            <h1>Welcome to The World of</h1>
            <h2>
                Demon Slayer
            </h2>
        </div>
    </section>

</section>

<section>
    <section class="parallax-2">
        <div class="parallax-inner">
            <h1>title</h1>
            <h2>
               about
            </h2>
        </div>
    </section>
   
</section>

<section>
    <section class="parallax-3">
        <div class="parallax-inner">
            <h1>title</h1>
            <h2>
               about
            </h2>
        </div>
    </section>
    
</section>

<section>
    <section class="parallax-4">
        <div class="parallax-inner">
            <h1>title</h1>
            <h2>
               about
            </h2>
        </div>
    </section>
    
</section>
{% endblock %}
